doctype html
head
  title Override Flow
  include header

body
  #menu
  h2 Override Flow
  if err
    .error
      != err
  table
    thead
      tr
        each val, index in map[0]
          case index
            when "DeviceID"
              span
            default
              th=index
    tbody
      - var idx = 0
      each val, i in map
        form(action='/Override/Flow',method='get')
          tr
            each val, j in map[i]
              case j
                when "Value"
                  td
                    input(type="text" name="Value" value="200")
                when  "DeviceID"
                  input(type="hidden", name=j, value=val)
                default  
                  td=val
            td
              input(type="submit" name="action" value="Set")
              input(type="submit" name="action" value="Clear")
              input(type="hidden" name="row" value=idx)
        - idx++
