include ./mobileMenu.pug
doctype html
head
  title Heating Overrides
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='/jq/jquery.mobile-1.4.5.min.css')
  script(src='/jq/jquery-2.2.1.min.js')
  script(src='/jq/jquery.mobile-1.4.5.min.js')
  script(src='/views/heatingMobile.js')

style.
  .ui-header  { background: #cc1111 !important; }
  .inline {float: left}
  #h1-large { font-size: 1.1em; margin-left: 15% }
  input .button  {width: 45% !important;}
  
script.
  $(() => {
    $('form').on('submit', (event) => {
      var f = event.target;
      if (event.originalEvent.submitter.id == 'Off') {
        let temperature = $(f).find('#temperature');
        let duration = $(f).find('#duration');
        duration.val(duration.attr('max')).slider('refresh');
        temperature.val(temperature.attr('min')).slider('refresh');
        return true;
      }
      return true;
    });
  });

body
  div.ui-responsive-panel(data-role="page" data-theme="b" data-dom-cache="false")
    div(data-role="header" data-position="fixed")
      h1#h1-large Heating Overrides
      a(href="#nav-panel" data-icon="bars" data-iconpos="notext") 
    div(data-role="main" class="ui-content" data-url="/Heating/mobileGroups")
      div(data-role="collapsible-set" data-theme="a" data-content-theme="a")
        each val, i in map
          - var clpsd
          - if (val.zoneID.toString() == zone.zoneID) { clpsd = 'false'; } else { clpsd = 'true';}
          form(method='get' data-ajax="false" form='form'+i id='form'+i)
            input(type="hidden" name="ID" value=val.oID)
            input(type="hidden" name="zoneID" value=val.zoneID)
            input(type="hidden" name="start" value=moment().format('HH:mm'))
            div(data-role="collapsible" data-theme="d" data-content-theme="d" data-collapsed=clpsd)
              h3 #{val.zoneName} (#{val.currentTemperature}C)
              - var c = 'hsl('+setHue(val.TemperatureMin, val.TemperatureMax, val.target)+',75%,50%)';
              div.fieldcontain(tMax=val.TemperatureMax tMin=val.TemperatureMin
                style=`background-color: ${c}; border-radius: 15px; text-align: center`) Temperature
                input(type="range" name="temperature" id="temperature" form="form"+i value=val.target
                  min=val.TemperatureMin max=val.TemperatureMax onchange='updateTemperatureBackground(this)'
                  data-highlight="true" style="border-radius: 10px" data-mini="false") 
              div.fieldcontain(style="background-color: blue; border-radius: 15px; text-align: center" ) Duration
                input(type="range" name="duration" id="duration" form="form"+i value="0"
                  min="0" max=(24-moment().hour()) onchange='updateTimeBackground(this)'
                  data-highlight="true" style="border-radius: 10px" data-mini="false")  
              div
                //- name & value define server action
                //- id 
                button(name="Action" value="Set" id="Set" data-corners="true" data-inline="true") Set
                button(name="Action" value="Off" id="Off" data-corners="true" data-inline="true") Off
  +menu
